$color_principal:#fff;
$color_botones:#ad76ab;
$hover_botones:#D73FA7;
$bordes:1px solid rgb(216, 215, 215);
$color_titulos:#754c73;
$color_parrafos:#333;
$color_parrafos_alt:#754c73;
$ahref_negativo:#fff;